* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #082338;
    color: #ededed;
}

::selection {
    color: #ededed;
    background: #33ccff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #082338;
    --second-bg-color: #0d304a;
    --text-color: #ededed;
    --main-color: #33ccff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);   
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

span {
    color: #33ccff;
}

.navbar a {
    font-size: 1.7rem;
    display: inline-block;
    color: #ededed;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
    opacity: 0;
    animation: slideBottom .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active  {
    color: #33ccff;
}

#menu-icon {
    font-size: 3rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    margin-top: 20px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.btn:hover {
    box-shadow: 0 0 25px #33ccff;
}


.contact {
    min-height: auto;
    padding-bottom: 70px;
    padding-top: 100px;
}

.contact form {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .textarea-field-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact {
    text-align: center;
}

.contact h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

